﻿body {
    margin:0;

}

.provodka {
    width: 100%;
    height: 250px;
    background: #E1F5A9;
    padding: 3px 0 0px 20px;
}

.lamp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F4FA58;
    display: inline-block;
    margin: 0 0 0 15px;
}

.svetilnik {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F79F81;
    display: inline-block;
    margin: 0 0 0 15px;
}

.switcher {
    width: 20px;
    height: 20px;
    background: black;
    display: inline-block;
    position: relative;
    top: 30%;
    left: 30%;
}
